
.footer{
   background-color: #dda294e3;
   /* background-color: rgba(53, 23, 49, 0.692); */
}
.footer p{
    /* color:rgb(186, 121, 248); */
    color:#407573;
    text-align: left;
    font-size: 17px;
}
.footer p:hover{
    font-weight: bold;
    cursor: pointer;
}